#######################
###   Basic Files   ###
#######################
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
gemfiles
Gemfile
Gemfile.lock
node_modules

#############################
###   CTF Writeup Files   ###
#############################
_ctfs/2026-04-23-TRX-CTF-2026.md
assets/ctfs/TRX_CTF/2026